<ion-header [translucent]="true">
  <ion-toolbar color="">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="among-us">
      <ion-icon class="sus" name="notifications-outline"></ion-icon>
      <ion-icon class="medico" name="medkit"></ion-icon>
      <ion-title>BANMEDI</ion-title>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img class="tamaño" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title> Farmacia Medellin</ion-card-title>
      <ion-card-subtitle>Kimchi Numero 100#,kaeachi</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      45 km Cerca
    </ion-card-content>
  </ion-card>
  <div class="button">
    <ion-button fill="outline">
      Dirrecion
    </ion-button>
    <ion-button fill="outline">
      Chat
    </ion-button>
    <ion-button fill="outline">
      Llamar
    </ion-button>
  </div>
  <h1>Productos</h1>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="2">
        <img class="cat" src="https://th.bing.com/th/id/R.aa2411f325ea51f5300a16940cb154fa?rik=l8ZHVmcZw9WP1Q&riu=http%3a%2f%2fmedia1.popsugar-assets.com%2ffiles%2f2014%2f09%2f18%2f785%2fn%2f1922507%2f8ca0deb4601882a0_thumb_temp_image13465311394648790.xxxlarge%2fi%2fGrumpy-Cat-Meme-Generator.jpg&ehk=c7n7AXantEeScawApJCCpofHd9YeJwBdILA%2f8y2DwVw%3d&risl=&pid=ImgRaw&r=0" alt="">
       <ion-title>Covid-19</ion-title> 
      </ion-col>
      <ion-col size="6" size-md="4" size-lg="2">
        <img class="cat" src="https://th.bing.com/th/id/R.aa2411f325ea51f5300a16940cb154fa?rik=l8ZHVmcZw9WP1Q&riu=http%3a%2f%2fmedia1.popsugar-assets.com%2ffiles%2f2014%2f09%2f18%2f785%2fn%2f1922507%2f8ca0deb4601882a0_thumb_temp_image13465311394648790.xxxlarge%2fi%2fGrumpy-Cat-Meme-Generator.jpg&ehk=c7n7AXantEeScawApJCCpofHd9YeJwBdILA%2f8y2DwVw%3d&risl=&pid=ImgRaw&r=0" alt="">
        <ion-title>Medicina</ion-title> 
      </ion-col><ion-col size="6" size-md="4" size-lg="2">
        <img class="cat" src="https://th.bing.com/th/id/R.aa2411f325ea51f5300a16940cb154fa?rik=l8ZHVmcZw9WP1Q&riu=http%3a%2f%2fmedia1.popsugar-assets.com%2ffiles%2f2014%2f09%2f18%2f785%2fn%2f1922507%2f8ca0deb4601882a0_thumb_temp_image13465311394648790.xxxlarge%2fi%2fGrumpy-Cat-Meme-Generator.jpg&ehk=c7n7AXantEeScawApJCCpofHd9YeJwBdILA%2f8y2DwVw%3d&risl=&pid=ImgRaw&r=0" alt="">
        <ion-title>Instrumentos</ion-title> 
      </ion-col><ion-col size="6" size-md="4" size-lg="2">
        <img class="cat" src="https://th.bing.com/th/id/R.aa2411f325ea51f5300a16940cb154fa?rik=l8ZHVmcZw9WP1Q&riu=http%3a%2f%2fmedia1.popsugar-assets.com%2ffiles%2f2014%2f09%2f18%2f785%2fn%2f1922507%2f8ca0deb4601882a0_thumb_temp_image13465311394648790.xxxlarge%2fi%2fGrumpy-Cat-Meme-Generator.jpg&ehk=c7n7AXantEeScawApJCCpofHd9YeJwBdILA%2f8y2DwVw%3d&risl=&pid=ImgRaw&r=0" alt="">
        <ion-title>Estomago</ion-title> 
      </ion-col><ion-col size="6" size-md="4" size-lg="2">
        <img class="cat" src="https://th.bing.com/th/id/R.aa2411f325ea51f5300a16940cb154fa?rik=l8ZHVmcZw9WP1Q&riu=http%3a%2f%2fmedia1.popsugar-assets.com%2ffiles%2f2014%2f09%2f18%2f785%2fn%2f1922507%2f8ca0deb4601882a0_thumb_temp_image13465311394648790.xxxlarge%2fi%2fGrumpy-Cat-Meme-Generator.jpg&ehk=c7n7AXantEeScawApJCCpofHd9YeJwBdILA%2f8y2DwVw%3d&risl=&pid=ImgRaw&r=0" alt="">
        <ion-title>Cabeza</ion-title> 
      </ion-col><ion-col size="6" size-md="4" size-lg="2">
        <img class="cat" src="https://th.bing.com/th/id/R.aa2411f325ea51f5300a16940cb154fa?rik=l8ZHVmcZw9WP1Q&riu=http%3a%2f%2fmedia1.popsugar-assets.com%2ffiles%2f2014%2f09%2f18%2f785%2fn%2f1922507%2f8ca0deb4601882a0_thumb_temp_image13465311394648790.xxxlarge%2fi%2fGrumpy-Cat-Meme-Generator.jpg&ehk=c7n7AXantEeScawApJCCpofHd9YeJwBdILA%2f8y2DwVw%3d&risl=&pid=ImgRaw&r=0" alt="">
        <ion-title>Diabetes</ion-title> 
      </ion-col><ion-col size="6" size-md="4" size-lg="2">
        <img class="cat" src="https://th.bing.com/th/id/R.aa2411f325ea51f5300a16940cb154fa?rik=l8ZHVmcZw9WP1Q&riu=http%3a%2f%2fmedia1.popsugar-assets.com%2ffiles%2f2014%2f09%2f18%2f785%2fn%2f1922507%2f8ca0deb4601882a0_thumb_temp_image13465311394648790.xxxlarge%2fi%2fGrumpy-Cat-Meme-Generator.jpg&ehk=c7n7AXantEeScawApJCCpofHd9YeJwBdILA%2f8y2DwVw%3d&risl=&pid=ImgRaw&r=0" alt="">
        <ion-title>Cremas</ion-title> 
      </ion-col><ion-col size="6" size-md="4" size-lg="2">
        <img class="cat" src="https://th.bing.com/th/id/R.aa2411f325ea51f5300a16940cb154fa?rik=l8ZHVmcZw9WP1Q&riu=http%3a%2f%2fmedia1.popsugar-assets.com%2ffiles%2f2014%2f09%2f18%2f785%2fn%2f1922507%2f8ca0deb4601882a0_thumb_temp_image13465311394648790.xxxlarge%2fi%2fGrumpy-Cat-Meme-Generator.jpg&ehk=c7n7AXantEeScawApJCCpofHd9YeJwBdILA%2f8y2DwVw%3d&risl=&pid=ImgRaw&r=0" alt="">
        <ion-title>Vitaminas</ion-title> 
      </ion-col>
      <ion-col size="6" size-md="4" size-lg="2">
        <img class="cat" src="https://th.bing.com/th/id/R.aa2411f325ea51f5300a16940cb154fa?rik=l8ZHVmcZw9WP1Q&riu=http%3a%2f%2fmedia1.popsugar-assets.com%2ffiles%2f2014%2f09%2f18%2f785%2fn%2f1922507%2f8ca0deb4601882a0_thumb_temp_image13465311394648790.xxxlarge%2fi%2fGrumpy-Cat-Meme-Generator.jpg&ehk=c7n7AXantEeScawApJCCpofHd9YeJwBdILA%2f8y2DwVw%3d&risl=&pid=ImgRaw&r=0" alt="">
        <ion-title>Otro</ion-title> 
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-tabs class="tabs">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="speaker">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>Carrito</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="database">
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        <ion-label>Chat</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="account">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>account</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>