<ion-header [translucent]="true">
  <ion-toolbar color="">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="among-us">
      <ion-icon class="sus" name="notifications-outline"></ion-icon>
      <ion-icon class="medico" name="medkit"></ion-icon>
      <ion-title>BANMEDI</ion-title>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    <ion-item class="image">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-label>Item</ion-label>
    </ion-item>  
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-label>Item</ion-label>
    </ion-item>
  </ion-card>
  <ion-card> 
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-label>Item</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-label>Item</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-label>Item</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-label>Item</ion-label>
    </ion-item>
  </ion-card>

  
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="speaker">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>Carrito</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="database">
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        <ion-label>Chat</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="account">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>account</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>