
.among-us{
    text-align: center; 
}
 ion-title{
     text-align: center;
}
.sus{
     width: 25px;
     height: 25px;
     float: right;
     margin-top: 10px;
}
ion-item {
    --padding-start: 0;
}
  
  /* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
}
